{% extends "navbar.html" %}
{% block content %}

<script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.5.3/d3.min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.9/topojson.min.js"></script>
<script src="static/datamaps.world.min.js"></script>

<html>
<title>Traff Map</title>
<h2>Traffic Map</h2>
<div id="map" style="position: relative; width: 1000px; height: 600px;"></div>
<script>
var bubble_map = new Datamap({
  element: document.getElementById("map"),
  geographyConfig: {
    popupOnHover: true,
    highlightOnHover: true
  },
  fills: {
    defaultFill: '#ABDDA4',
    bubbleEX:'#000FFF',
  }
});
bubble_map.bubbles( {{ data|tojson|safe }}, 
{
  popupTemplate: function(geo, data) {
    return '<div class="hoverinfo">Country:' + data.Country + ' Sessions:'  + data.count + ''
  }
});
</script>
</html>
{% endblock %}

